@import '~antd/dist/antd.css';

/* 浮动 */
.clearfix{zoom: 1}
.clearfix:after{content: ' '; display: block; height: 0; clear: both; overflow: hidden;}
.float-l {float: left;}
.float-r{float: right;}

.ant-layout-content > div{min-height: calc(100vh - 130px);}

.logo{ height: 32px; margin: 16px; background: rgba(255, 255, 255, .2); border-radius: 4px;}

.header{ background: #fff; padding: 0 16px;}
.header .title{ color: #444; letter-spacing: 3px; font-size: 24px; }
.header .title .trigger{ font-weight: normal;margin-right: 24px;font-size: 22px; cursor: pointer;}

